/* Style the header */
header {
  background-color: rgb(64, 109, 160);
  padding: 10px;
  text-align: center;
  font-size: 20px;
  color: white;
}

/**
  i know it's just a concept but i couldn't even see the slider
  TODO: add chrome styling support
*/

/** FF range color **/
input[type="range"]::-moz-range-progress {
  background-color: gray; 
}
input[type="range"]::-moz-range-track {  
  background-color: lightgray;
}

.slider {
  width: 70%;
  height: 15px;
  border-radius: 5px;  
  color: black;
}
